.header-container{
    height: 17vw;
}

.grid{
    display: grid;
    grid-template-columns: 20% 60% 15%;
    background-color: rgb(191, 25, 25);
}
.header-1 {
    text-align: center;
    font-size: 3vw;
    padding-top: 0.5vw;
    color: rgb(255, 255, 255);
}
.header-2 {
    font-size: 2vw;
    text-align: center;
    color: rgb(255, 255, 255);
}
.header-3 {
    font-size: 1.5vw;
    text-align: center;
    color: rgb(255, 255, 255);
}
.logo {
    width: 60%;
    padding-top: 1.5em;
    object-fit: contain;
    transition: width 2s;
}
.logo:hover{
    width: 70%;
}
.logo2 {
    height: 90%;
    width: 80%;
    object-fit: contain;
    padding-left: 20%;
    transition: width 2s;
    padding-top: 1em;
}
.logo2:hover{
    width: 95%;
}
.logo-container {
    padding-top: 0px;
    text-align: center;
    height: 15vw;
}

@media screen and (max-width: 768px) {
    .header-container{
        height: auto;
        align-items: center;
        padding-top: 0px;
        text-align: center;
    }
    .header-1{
        text-align: center;
        font-size: 5vw;
    }
    .header-2{
        font-size: 3.2vw;
    }
    .logo{
        width: 25vw;
    }
}