.grid{
    display: grid;
    grid-template-columns: 20% 75%;
    background-color: rgb(191, 25, 25);
}
.header-1 {
    text-align: center;
    font-size: 3.5vw;
    padding-top: 0.5vw;
    color: rgb(255, 255, 255);
}
.header-2 {
    font-size: 2.25vw;
    text-align: center;
    padding-top: 0px;
    color: rgb(255, 255, 255)
}
@media screen and (max-width: 768px) {
    .header-container {
        width: 50%;
        height: auto;
        align-items: center;
        padding-top: 0px;
    }
}
.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.logo-container {
    padding-top: 0px;
    text-align: center;
}