

.grid{
    display: grid;
    grid-template-columns: 20% 60% 15%;
    background-color: rgb(191, 25, 25);
}
.header-1 {
    text-align: center;
    font-size: 3.5vw;
    padding-top: 0.5vw;
    color: rgb(255, 255, 255);
}
.header-2 {
    font-size: 2.25vw;
    text-align: center;
    padding-top: 0px;
    color: rgb(255, 255, 255)
}
.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.logo2 {
    height: 95%;
    width: 95%;
    object-fit: contain;
    padding-left: 20%;
}
.logo-container {
    padding-top: 0px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header-container{
        height: auto;
        align-items: center;
        padding-top: 0px;
        text-align: center;
    }
    .header-1{
        text-align: center;
        font-size: 5vw;
    }
    .header-2{
        font-size: 3.2vw;
    }
    .logo{
        width: 25vw;
    }
}